/* Empty. Add your own CSS if you like */


@font-face {
  font-family: digital;
  src: url(DS-DIGIT.ttf);
}
.centerText {
  text-align:center;
}

.digital {
  font-family:digital;
}
.pane {
  background-color:#000;
}
.vw36 {
      font-size:36vw;
    }

.vw20 {
  font-size:20vw;
}

.fontRed {
  color: #ff0000;
}
.padding1-2em {
  padding: .1em 0;
}

body {background-color:#000;}
